.popup__container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 430px;
    width:100%;
    min-width: 282px;
}

@media screen and (max-width: 620px) {
    .popup__container {
        max-width: 282px;
    }
}