/* vendor */
@import url(../vendor/normalize.css);

/* page */
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);

/* fonts */
@import url(../fonts/inter.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* content */
@import url(../blocks/content/content.css);

/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__bio/profile__bio.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__firstline/profile-firstline.css);
@import url(../blocks/profile/__info-name/profile__info-name.css);
@import url(../blocks/profile/__info-job/profile__info-job.css);
@import url(../blocks/profile/__info-edit-button/profile__info-edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

/* elements */
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/element/element.css);
@import url(..//blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__trash/element__trash.css);
@import url(..//blocks/element/__description/element__description.css);
@import url(..//blocks/element/__text/element__text.css);
@import url(../blocks/element/__heart/element__heart.css);
@import url(../blocks/element/__heart/_active/element__heart_active.css);

/* popup */
@import url(../blocks/popup/popup.css);
@import url(..//blocks/popup/_opened/popup_opened.css);
@import url(..//blocks/popup/__container/popup__container.css);
@import url(..//blocks/popup/__container-zoom/popup__container-zoom.css);
@import url(..//blocks/popup/__title/popup__title.css);
@import url(..//blocks/popup/__form/popup__form.css);
@import url(..//blocks/popup/__text/popup__text.css);
@import url(..//blocks/popup/__save-button/popup__save-button.css);
@import url(..//blocks/popup/__close-button/popup__close-button.css);
@import url(..//blocks/popup/__pic/popup__pic.css);
@import url(..//blocks/popup/__description/popup__description.css);



/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);