.popup__text {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    padding: 0 0 13px 0;
    box-sizing: border-box;
    max-width: calc(100% - 2*36px);
    width: 100%;
    margin: 0 0 30px 0;
    border: 0;
    border-bottom: 1px solid #bcbcc4;
}
